<h1 nz-typography>Optimizing image with <a href="https://ng.ant.design/components/image/en" target="_blank">nz-image</a></h1>

<article nz-typography>
  <p>optimized | <a routerLink="/unoptimized">unoptimized</a></p>
  <p>
    Device pixel ratio: <span>{{displayInfo?.dpr || '-'}}</span>
    <br>
    Viewport width: <span>{{displayInfo?.viewportWidth || '-'}}px</span>
    <br>
    Available screen width: <span>{{displayInfo?.availableWidth || '-'}}px</span>
  </p>
</article>
<div class="images">
  <nz-image nzSrc="v1618819484/photo-1618646034222-ecb3d5ecf3af_ued9fa.jpg" nzAlt="A dog walking with its owner in the forest" nzWidth="256" nzHeight="256" nzAutoSrcset nzPriority></nz-image>
  <nz-image nzSrc="v1618831173/photo_jum3re.jpg" nzAlt="A dog staring at the camera" nzWidth="256" nzHeight="256" nzAutoSrcset nzPriority></nz-image>
  <nz-image nzSrc="v1618819484/photo-1618718556523-96b0ee6bf149_nj09sc.jpg" nzAlt="The newborn puppies" nzWidth="256" nzHeight="256" nzAutoSrcset nzPriority></nz-image>
  <nz-image nzSrc="v1618819484/photo-1618566668792-5dcb8c55d415_f80mzi.jpg" nzAlt="A cat looking into the distance" nzWidth="256" nzHeight="256" nzAutoSrcset nzPriority></nz-image>
</div>

<article nz-typography>
  <p>Automatically add <code>&lt;link rel="preload"&gt;</code> tags to make the browser load images in a higher priority.</p>
  <p>By adding <code>srcset</code> attribute to HD displays(retina screens), the browser will automatically load image which has the most suitable pixel ratio of the device.</p>
  <p>The component is friendly to image CDN providers, you can either use the built-in CDN loader or customize it.</p>
</article>

<div class="images">
  <nz-image nzSrc="v1618819484/photo-1618606405537-3a0ed07c2984_uoxynk.jpg" nzAlt="Black and white photo of a kitten" nzWidth="256" nzHeight="256" nzAutoSrcset></nz-image>
  <nz-image nzSrc="v1618819484/photo-1618392486652-0b5644ebf7da_ifbke8.jpg" nzAlt="A cat with its tongue out lying on the bed" nzWidth="256" nzHeight="256" nzAutoSrcset></nz-image>
</div>
